# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EditedVersion.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jcman\SteamTester\BuildingVRWithUnityAndSteamVR\Chapter 5\Chapter 5 - Project 1\EditedVersion\.idea\.idea.EditedVersion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
